<div class="navbar-fixed"  ng-controller="HeaderController">
  <nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper">
      <a ng-click="home()" class="brand-logo center">Luxore</a>

      <login-toolbar class="right hide-on-med-and-down"></login-toolbar>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="tooltipped" data-tooltip="{{'Search'|translate}}"><i class="material-icons">search</i></a></li>
        <li><a ng-click="profile()"><i class="material-icons">view_module</i></a></li>
        <li><a ><i class="material-icons">more_vert</i></a></li>
        <li>
          <a class="waves-effect waves-block waves-light notification-button">
            <i class="mdi-social-notifications"><small class="notification-badge">5</small></i>
          </a>
        </li>
        <!-- Dropdown Trigger -->
        <li>
            <select class="icons" ng-model="selectedLang" ng-change="changeLang(selectedLang)">
              <option ng-repeat="option in languages" value="{{option.id}}" ng-selected="option.id==selectedLang" 
                      class="left circle" data-icon="img/flags/{{option.country}}.png">
                {{option.name}}
              </option>
            </select>

        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <!-- <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
          <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a>
        </li> -->

        <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CSS</a>
              <div style="" class="collapsible-body">
                <ul>
                  <li><a href="color.html">Color</a></li>
                  <li><a href="grid.html">Grid</a></li>
                  <li><a href="helpers.html">Helpers</a></li>
                  <li><a href="media-css.html">Media</a></li>
                  <li><a href="sass.html">Sass</a></li>
                  <li><a href="shadow.html">Shadow</a></li>
                  <li><a href="table.html">Table</a></li>
                  <li><a href="typography.html">Typography</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<!-- <div class="row">
   <ul class="nav pull-right" ng-show="hasPendingRequests()">
    <li ng-class="{active:isNavbarActive('projectsinfo')}"><a href="/projectsinfo">Current Projects</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#"><img src="/static/img/spinner.gif"></a></li>
  </ul>
</div> -->
