<div ng-controller="HeaderController">
  <header class="blue-grey darken-4 cd-header">
    <a data-activates="nav-mobile" class="button-collapse cd-sidenav-trigger"><i class="medium material-icons">menu</i></a>
    <a ng-click="home()" class="cd-logo center">Luxore</a>
    <a class="cd-3d-nav-trigger">
      <i class="material-icons">menu</i>
      <span></span>
    </a>
  </header> <!-- .cd-header -->
      
  <nav class="cd-3d-nav-container" role="navigation">
    <ul class="cd-3d-nav">
      <li ng-repeat="item in topMenu">
        <a href="{{item.url}}" translate class="center-align"><i class="large material-icons">{{item.icon}}</i></a>
      </li>
    </ul> <!-- .cd-3d-nav -->

    <span class="cd-marker color-1"></span> 

  </nav> <!-- .cd-3d-nav-container -->

  <ul id="nav-mobile" class="side-nav">
    <li class="bold" ng-repeat="item in menu">
      <a ng-click="redirect(item.url)" class="waves-effect waves-teal" translate>{{item.name}}</a>
    </li>
    
    <!-- <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header  waves-effect waves-teal">CSS <i class="mdi-navigation-arrow-drop-down"></i></a>
          <div style="" class="collapsible-body">
            <ul>
              <li><a href="color.html">Color</a></li>
              <li><a href="grid.html">Grid</a></li>
              <li><a href="helpers.html">Helpers</a></li>
              <li><a href="media-css.html">Media</a></li>
              <li><a href="sass.html">Sass</a></li>
              <li><a href="shadow.html">Shadow</a></li>
              <li><a href="table.html">Table</a></li>
              <li><a href="typography.html">Typography</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li> -->

  </ul>

</div>